<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/Head.ejs") %>
</head>

<body>
    <section class="container-fluid ">
        <div class="row ">
            <div class="bottom-0 col-3 flex-shrink-0 p-3 text-white bg-black" style="width: 280px;">
                <a href="/" class="d-flex align-items-center mb-5 me-md-auto text-white text-decoration-none">
                  <svg class="bi me-2" width="40" height="32"></svg>
                  <span class="fs-4">Profile</span>
                </a>
                <ul class="nav nav-pills flex-column mb-auto">
                  <li class="nav-item ">
                    <a href="/Home" class="nav-link active" aria-current="page">
                      Home
                    </a>
                  </li>
                  <li>
                    <a href="#" class="nav-link text-white">Orders</a>
                  </li>
                  <li>
                    <a href="#" class="nav-link text-white"> Customers</a>
                  </li>
                </ul>
                <hr>
              </div>
 
              <div class="col-6 p-3">
                <div >
                    <!-- Profile picture card-->
                    <div class="card mb-4 mb-xl-0" style="width: 1100px;">
                        <div class="card-header">edit you account</div>
                        <div class="card-body text-center">
                            <img class="img-account-profile  circle mb-2"
                                src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                        </div>
                    </div>
                </div>

                <div >
                    <!-- Account details card-->
                    <div class="card mb-4 " style="width: 1100px;">
                        <div class="card-header">Account Details</div>
                        <div class="card-body">
                    
                            <!--   ( name )-->
                            <div class="mb-3">
                                <label class="small mb-1 p-1" for="inputUsername">New Username </label>
                                <input class="form-control" name="name" type="text" value="<%= user.username%>" id="username">
                            </div>
                        </div>
                        <!--   (email address)-->
                        <div class="mb-3 p-3">
                            <label class="small mb-1" for="inputEmailAddress">New Email address</label>
                            <input class="form-control" type="email" placeholder="name@gmail.com"
                                name="email" value="<%=user.email %>" id="email">
                        </div>
                        <!--   ( password)-->
                        <div class="col-md-6 p-3">
                            <label class="small mb-1" for="inputpassword">New password</label>
                            <input class="form-control" type="password" name="password"
                            value="<%= user.password %>" name="password" id="password">
                        </div>
                    </div>
                    <!-- Save changes -->
                    <button class="btn btn-primary" id="editBtn">Update Data</button>
                </div>
              </div>
        </div>
    </section>
    <script>
        $(document).ready(function() {
            $('#editBtn').click(function() {
              console.log('Edit button clicked');
                $.ajax({
                    url: `/editprofile/<%=user._id%>`,
                    method: 'PATCH',
                    data: {
                      username: $('#username').val(),
                      email: $('#email').val(),
                      password: $('#password').val(),
                    },
    
                    success: function(response) {
                        // Reload the page to show updated product list
                        window.location.reload();
                    },
                    error: function(err) {
                        console.log(err);
                    }
                });
            });
        });
        </script>
    <!-- end -->
    <%- include("../partials/Top_Function.ejs") %>

</body>

</html>