
<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/Head.ejs") %>
    </head>
    <body>
        <%- include("../partials/Nav.ejs") %>
      
        <section class=" choose container-fluid  mt-5 mb-5">
         
          <!-- control pages -->
          <ul class="list-unstyled d-flex justify-content-center mt-5 mb-5">
            <a href="/products">
              <li>All</li>
            </a>
            <a href="/products1">
              <li class="active rounded-pill">Shirts</li>
            </a>
            <a href="/products2">
              <li>Pants</li>
            </a>
            <a href="/products3">
              <li>Shoes</li>
            </a>
          </ul>
      
          <!-- products -->
          <%= uniqueCat %>
        <div class="row">
          <% products.forEach((product) => { %>
            <%- include('../partials/product_card_client', { product: product }) %>
        <% }); %>
        </div>
        </section>

        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">

            <% if(page > 1){ %>
              <li class="page-item">
                <a class="page-link  text-bg-dark " href="?page=<%=page-1%>" aria-label="Previous">
                  <span aria-hidden="true">Previous</span>
                </a>
              </li>
              <% } %>
            <% let counter = page;%>
            <% for(let i = iterator ; i <= endingLink ; i++){ %>
              <% if(page == i){%>
                <li class="page-item"><a class="page-link text-bg-dark " href="?page=<%=i%>"><%=i%></a></li>  
                <%  counter ++;  %>
                <%  continue; %>
              <% }
              else { %>
                <li class="page-item"><a class="page-link text-bg-light  link-dark" href="?page=<%=i%>"><%=i%></a></li>
                <%}%>
                
            <% } %>
            <% if(page < numberofPages ){ %>
              <li class="page-item">
                <a class="page-link text-bg-dark link-dark" href="?page=<%=counter%>" aria-label="Next">
                  <span aria-hidden="true">Next</span>
                </a>
              </li> 
            <% } %>
          </ul>
        </nav>
        <%- include("../partials/Top_Function.ejs") %>
        <%- include("../partials/Footer.ejs") %>
      
      
      </body>
</html>